@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poor Story', cursive;
    font-weight:bold;
    margin-bottom: 1rem;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(119, 119, 90), rgb(115, 126, 115));
}
.game-wrapper{
    text-align: center;
}
.title{
    color: white;
    font-size: 3rem;    
}
img{
    width: 200px;
    height: 200px;
    border-radius: 25%;   
}
.controls{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-even, .btn-odd{
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;

}

.btn-throw{
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 75%;
}
.result{
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 4px blue;
}
.show-animation{
    animation: spin 4s linear;
}

/* @keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.btn-even-odd-select{
    background-color: green;
    color: white;
}

.btn-throw-select{
    background-color: blue;
    color: white;
}
