body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
}
.fa-heart{
    color: red;
    font-size: 40px;
    position: absolute;
    /* left, right, top, bottom */
    /* top: 100px;
    left: 100px; */
}